project:
  type: book
  output-dir: docs
  
execute: 
  freeze: auto

book:
  title: "Skriptum - Fortgeschrittene Statistik"
  author: "Robert Rein"
  date: "09/01/2026"
  chapters:
    - index.qmd
    - part: r_startup.qmd
      chapters: 
        - r_intro.qmd
        - r_vars_types.qmd
        - r_flowcontrol.qmd
        - r_functions.qmd
        - r_tidyverse.qmd
        - r_visualization.qmd
        - r_literate_programming.qmd
    - part: stats_title.qmd
      chapters:
        - stats_basics.qmd
        - stats_significance.qmd
        - stats_estimation.qmd
        - stats_distributions.qmd
        - stats_hypotheses.qmd
    - part: slm_title.qmd
      chapters:
        - slm_basics.qmd
        - slm_inference.qmd
        - slm_model_fit.qmd
        - slm_prediction.qmd
        - likelihood.qmd
        - slm_matrix.qmd
    - part: mlm_title.qmd
      chapters: 
        - mlm_basics.qmd
        - mlm_interactions.qmd
        - mlm_dummy_coding.qmd
        - mlm_hierarchies.qmd
        - mlm_prediction.qmd
        - mlm_logistic.qmd
        - mlm_lmm.qmd
    - part: ed_title.qmd
      chapters:
        - ed_basics.qmd
        - ed_reliability.qmd
        - ed_crd.qmd
        - ed_linear_contrasts.qmd
        - ed_crfd.qmd
        - ed_ancova.qmd
        - ed_crbd.qmd
        - ed_split_plot.qmd
        # - ed_cross_over.qmd
  appendices:
    - appendix_math.qmd
    - references.qmd

bibliography: bibliography.bib

format:
  html:
    theme: cosmo
    lang: de
    callout-icon: true 
    fig-height: 3
    include-in-header: res/mathjax.html
  pdf:
    documentclass: scrreprt
    fig-height: 2
    include-in-header: 
      text: |
        \usepackage{makeidx,multirow}
        \makeindex
    include-after-body: 
      text: |
        \printindex
